# Ignore Python environment and system clutter
streamlit_env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite
*.db
*.csv

# VS Code and Jupyter
.vscode/
.ipynb_checkpoints/
*.ipynb

# System files
.DS_Store
Thumbs.db